/* normal button  */
.btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
} 
/* normal button hover */
.btn:hover{
    box-shadow: 5px 5px 10px rgba(58 , 128 ,233, 0.5);
    transition: all 0.3s;
}
/* outlined button */
.outlined{
    background-color: var(--black);
    border: solid var(--blue) 2px;
    color: var(--white);
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    min-width: 135px;
}
/* outlined hover */
.outlined:hover{
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgba(58 , 128 ,233, 0.5);
    transition: all 0.3s;
}